@charset "UTF-8";
.ly_header {
  width: 100%;
  padding: 12px 0;
}

@media screen and (min-width: 1080px) {
  .ly_header {
    padding: 16px 0;
  }
}
.bl_header {
  background: #FCFBF2;
}

.bl_header_inner {
  width: 90%;
  margin: 0 auto;
  max-width: 1366px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bl_header_logo img {
  width: 100%;
}

.bl_header_btnGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.bl_header_btn_tel_sp {
  display: inline-block;
  font-size: 11px;
  color: #fff;
  font-weight: 600;
  padding: 10px;
  background: #F69400;
  border-radius: 8px;
  box-shadow: 0 2px 0 #B96F00;
}
.bl_header_btn_tel_sp img {
  display: block;
  margin: 0 auto;
}
.bl_header_btn_tel_sp .bl_header_btn_tel_sp_txt {
  text-align: center;
  margin-top: 7px;
}

.bl_header_btn_line_sp {
  display: inline-block;
  font-size: 11px;
  color: #fff;
  font-weight: 600;
  padding: 10px;
  background: #32C156;
  border-radius: 8px;
  box-shadow: 0 2px 0 #03883A;
}
.bl_header_btn_line_sp img {
  display: block;
  margin: 0 auto;
}
.bl_header_btn_line_sp .bl_header_btn_line_sp_txt {
  text-align: center;
}

.bl_header_btn_tel_pc,
.bl_header_btn_line_pc {
  display: none;
}

@media screen and (min-width: 1080px) {
  .bl_header_btn_tel_sp,
.bl_header_btn_line_sp {
    display: none;
  }
  .bl_header_btn_tel_pc,
.bl_header_btn_line_pc {
    display: block;
  }
  .bl_header_btnGroup {
    gap: 48px;
  }
  .bl_header_btn_tel_pc {
    flex-shrink: 0;
  }
  .bl_header_btn_tel_pc .bl_header_btn_tel_pcGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  .bl_header_btn_tel_pc .bl_header_btn_tel_pcGroup .bl_header_btn_tel_pc_number {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.01em;
    font-family: "Lato";
  }
  .bl_header_btn_tel_pc .bl_header_btn_tel_pc_txt {
    font-size: 14px;
    letter-spacing: 0.04em;
    font-weight: 600;
    text-align: center;
    margin-top: 4px;
  }
  .bl_header_btn_line_pc {
    padding: 18px 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    background: #32C156;
    box-shadow: 0 4px 0 #03883A;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 600;
    border-radius: 8px;
    flex-shrink: 0;
    transition: all 0.3s;
  }
  .bl_header_btn_line_pc img {
    display: block;
  }
  .bl_header_btn_line_pc:hover {
    box-shadow: none;
    transform: translateY(4px);
  }
}
.ly_footer {
  width: 100%;
  padding: 52px 34px;
}

@media screen and (min-width: 1080px) {
  .ly_footer {
    padding: 24px 0;
  }
}
.bl_footer_inner {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 1080px) {
  .bl_footer_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}
.bl_footer {
  background: #EDECE4;
}

.bl_footer_logo {
  text-align: center;
}

.bl_footer_snsGroup {
  margin-top: 35px;
}

@media screen and (min-width: 1080px) {
  .bl_footer_snsGroup {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}
.bl_footer_snsGroup_hp {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
  gap: 4px;
  transition: all 0.3s;
}

.bl_footer_snsGroup_hp::after {
  content: url(../img/footter_linkImg.svg);
}

.bl_footer_snsGroup_hp:hover {
  opacity: 0.7;
}

.bl_footer_snsGroup_iconGroup {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 1080px) {
  .bl_footer_snsGroup_iconGroup {
    margin-top: 0;
  }
}
.bl_footer_snsGroup_icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #252624;
  position: relative;
  transition: all 0.3s;
}
.bl_footer_snsGroup_icon img {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

@media screen and (min-width: 1080px) {
  .bl_footer_snsGroup_icon:hover {
    opacity: 0.7;
  }
}
.bl_footer_copyRight_wrapper {
  text-align: center;
  margin-top: 33px;
}

.bl_footer_copyRight {
  font-size: 14px;
  line-height: 175%;
  letter-spacing: 0.07em;
}

@media screen and (min-width: 1080px) {
  .bl_footer_copyRight_wrapper {
    margin-top: 0;
  }
}
body {
  font-size: 14px;
  font-family: "Zen Kaku Gothic New";
  color: #333;
}

span {
  display: inline-block;
}

@media screen and (min-width: 1080px) {
  body {
    font-size: 16px;
  }
}
.bl_cont_inner {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 1080px) {
  .bl_cont_inner {
    width: 80%;
  }
}
.bl_imgWrapper img {
  width: 100%;
}

.un_lb__reverse {
  display: none;
}

@media screen and (min-width: 1080px) {
  .un_lb {
    display: none;
  }
  .un_lb__reverse {
    display: block;
  }
}
@media screen and (min-width: 1080px) {
  .un_pcNone {
    display: none;
  }
}
.ly_cont {
  padding: 80px 0 60px;
}

@media screen and (min-width: 1080px) {
  .ly_cont {
    padding: 80px 0;
  }
}
.ly_secTtl {
  text-align: center;
}

.ly_secTtl2 {
  text-align: center;
}

.ly_secTtl2_img {
  margin-top: 24px;
}

.ly_cta_btn {
  margin-top: 24px;
  overflow: hidden;
}

@media screen and (min-width: 1080px) {
  .ly_cta_btn {
    margin-top: 0;
  }
}
.bl_contBg_grey {
  background: #EDECE4;
}

.bl_contBg_lightOrange {
  background: #FCFBF2;
}

.bl_contBg_orange {
  background: #F69400;
}

.bl_cta {
  padding: 35px 27px 43px;
  border-radius: 16px;
  background: #fff;
  border: 3px solid #333;
  position: relative;
}

@media screen and (min-width: 1080px) {
  .bl_cta {
    padding: 67px;
  }
}
.bl_cta_ttl {
  display: inline-block;
  letter-spacing: 0.02em;
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff, 1px 1px 0 #fff;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 1080px) {
  .bl_cta_ttl {
    font-size: 40px;
  }
}
.bl_cta_imgWrapper {
  max-width: 390px;
  display: block;
  position: absolute;
  top: -40px;
  right: -8px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .bl_cta_imgWrapper {
    width: 50%;
    top: auto;
    bottom: -10px;
    right: -37px;
  }
  .bl_cta_imgWrapper img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 1080px) {
  .bl_cta_imgWrapper {
    width: 100%;
    z-index: 0;
  }
}
.bl_cta_txtGroup {
  margin-top: 16px;
}

.bl_cta_txt {
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.02em;
  max-width: 550px;
}

.bl_cta_actionGroup {
  margin-top: 24px;
  position: relative;
  z-index: 3;
}

@media screen and (min-width: 1080px) {
  .bl_cta_actionGroup {
    display: flex;
    gap: 40px;
    align-items: center;
  }
}
.bl_cta_tel {
  font-size: clamp(32px, 3vw, 48px);
  font-weight: 800;
  letter-spacing: 0.03em;
  font-family: "Lato";
  color: #F69400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.bl_cta_tel::before {
  content: url(../img/cta_tel_ico.svg);
}

@media screen and (min-width: 768px) {
  .bl_cta_tel {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1080px) {
  .bl_cta_tel {
    justify-content: center;
  }
  .bl_cta_tel::before {
    content: url(../img/cta_tel_ico_pc.svg);
  }
}
.bl_cta_hour {
  margin-top: 8px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .bl_cta_hour {
    text-align: left;
  }
}
@media screen and (min-width: 1080px) {
  .bl_cta_hour {
    text-align: center;
    font-size: 20px;
  }
}
.el_secTtl_en {
  font-size: 24px;
  color: #F69400;
  font-weight: 600;
  font-family: "Lato";
}

.el_secTtl_jp {
  margin-top: 8px;
  font-size: 40px;
  font-weight: bold;
}

@media screen and (min-width: 1080px) {
  .el_secTtl_en {
    font-size: 24px;
  }
  .el_secTtl_jp {
    font-size: 48px;
  }
}
.el_secTtl2 {
  font-size: 28px;
  font-weight: 800;
  line-height: 165%;
  letter-spacing: 0.04em;
}

.el_secTtl2_orange {
  font-size: 40px;
}

.el_secTtl2_img {
  width: 100%;
  max-width: 520px;
}

@media screen and (min-width: 1080px) {
  .el_secTtl2 {
    font-size: 40px;
  }
  .el_secTtl2_orange {
    font-size: 56px;
  }
}
.el_btn {
  max-width: 350px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  background: #32C156;
  box-shadow: 0 4px 0 #03883A;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.02em;
  font-weight: 600;
  border-radius: 8px;
  flex-shrink: 0;
  transition: all 0.3s;
}
.el_btn img {
  display: block;
}

.el_btn::after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-radius: 2px;
  transform: rotate(45deg);
}

.el_btn__kv {
  max-width: 600px;
  box-shadow: none;
}

@media screen and (min-width: 1080px) {
  .el_btn {
    padding: 18px 24px;
  }
  .el_btn:hover {
    box-shadow: none;
    transform: translateY(4px);
  }
  .el_btn__kv {
    width: 30%;
  }
  .el_btn:hover {
    box-shadow: none;
    transform: translateY(4px);
  }
}
.el_btn_cta {
  display: inline-block;
  padding: 16px 20px;
  background: #32C156;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.02em;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  transition: all 0.3s;
}

.el_btn_cta::after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-radius: 2px;
  transform: rotate(45deg);
}

.el_btn_cta:hover {
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .el_btn_cta {
    width: 60%;
  }
}
@media screen and (min-width: 1080px) {
  .el_btn_cta {
    width: 100%;
    padding: 20px 24px;
    font-size: 24px;
  }
  .el_btn_cta:hover {
    box-shadow: none;
    transform: translateY(4px);
  }
}
.ly_kv {
  padding: 30px 0px 24px;
}

@media screen and (min-width: 1080px) {
  .ly_kv {
    padding: 50px 0;
  }
}
.ly_service_ttl {
  display: flex;
  gap: 18px;
  align-items: center;
}

.bl_kv {
  background: #FCFBF2;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 1080px) {
  .bl_kv {
    position: static;
  }
}
.bl_kv_inner {
  width: 90%;
  margin: 0 auto;
  max-width: 1300px;
}

@media screen and (min-width: 1080px) {
  .bl_kv_inner {
    position: relative;
  }
}
.bl_kv_mainCopy_group {
  font-size: 22px;
  font-weight: 700;
  line-height: 175%;
  max-width: 600px;
  letter-spacing: 0.05em;
}
.bl_kv_mainCopy_group .bl_kv_mainCopy_orange {
  font-size: 28px;
}
.bl_kv_mainCopy_group .bl_kv_mainCopy_underLine {
  position: relative;
  z-index: 3;
}
.bl_kv_mainCopy_group .bl_kv_mainCopy_underLine::before {
  content: "";
  display: inline-block;
  background: rgba(246, 148, 0, 0.3);
  width: 100%;
  height: 10px;
  position: absolute;
  left: 0;
  bottom: 3px;
  z-index: -1;
}

@media screen and (min-width: 1080px) {
  .bl_kv_mainCopy_group {
    max-width: 800px;
    font-size: 48px;
    width: 80%;
  }
  .bl_kv_mainCopy_group .bl_kv_mainCopy_orange {
    font-size: 56px;
  }
  .bl_kv_mainCopy_group .bl_kv_mainCopy_underLine::before {
    height: 20px;
    bottom: 10px;
  }
}
.bl_kv_pointGroup {
  margin-top: 20px;
  display: grid;
  gap: 4px;
  position: relative;
  z-index: 2;
  max-width: 580px;
}

@media screen and (min-width: 768px) {
  .bl_kv_pointGroup {
    display: grid;
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
  }
}
@media screen and (min-width: 1080px) {
  .bl_kv_pointGroup {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
.bl_kv_point {
  max-width: 230px;
  gap: 8px;
  font-size: 13px;
  font-weight: 600;
  background: #fff;
  padding: 10px 28px;
  border-radius: 8px;
}

.bl_kv_point_body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bl_kv_point_txt {
  text-align: center;
  line-height: 150%;
  margin: 0 auto;
}

.bl_kv_point_txt2 {
  font-weight: 500;
}
.bl_kv_point_txt2 .bl_kv_point_txt2_orange {
  font-weight: "Lato";
  font-size: 30px;
  font-weight: 700;
}

@media screen and (min-width: 1080px) {
  .bl_kv_point {
    width: 160px;
    height: 160px;
    font-size: 16px;
    padding: 0;
    border-radius: 100%;
    position: relative;
  }
  .bl_kv_point_txt2 {
    text-align: center;
    letter-spacing: 0.05em;
  }
  .bl_kv_point_txt2 .bl_kv_point_txt2_orange {
    font-size: 40px;
  }
  .bl_kv_point_txt2 .bl_kv_point_txt2_orange .bl_kv_point_txt2_orange_small_pc {
    font-size: 23px;
  }
  .bl_kv_point_body {
    display: block;
    width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
.bl_kv_point_txt2__annotation::after {
  content: "※1";
  margin-left: 2px;
  display: inline-block;
  font-size: 6px;
  vertical-align: middle;
}

.bl_kv_point_annotation {
  margin-top: 14px;
  font-size: 13px;
  color: #4B4948;
}

.bl_kv_img {
  display: block;
  width: 70%;
  position: absolute;
  max-width: 630px;
  bottom: 108px;
  right: -80px;
  z-index: 1;
}
.bl_kv_img img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .bl_kv_img {
    width: 50%;
    right: 20px;
  }
}
@media screen and (min-width: 1080px) {
  .bl_kv_img {
    right: 0;
    bottom: -24px;
  }
}
.bl_kv_btnWrapper {
  margin-top: 70px;
  transition: all 0.3s;
}

@media screen and (min-width: 1080px) {
  .bl_kv_btnWrapper {
    margin-top: 42px;
  }
  .bl_kv_btnWrapper:hover {
    opacity: 0.7;
  }
}
.bl_worriers_group {
  margin-top: 60px;
  display: grid;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .bl_worriers_group {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1080px) {
  .bl_worriers_group {
    grid-template-columns: repeat(4, 1fr);
  }
}
.bl_worriers {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.bl_worriers:nth-child(even) {
  flex-direction: row-reverse;
}

@media screen and (min-width: 768px) {
  .bl_worriers {
    flex-direction: column-reverse;
  }
  .bl_worriers:nth-child(even) {
    flex-direction: column-reverse;
  }
}
.bl_worriers_img {
  display: block;
  width: 30%;
}
.bl_worriers_img img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .bl_worriers_img {
    margin: 0 auto;
    width: 50%;
  }
}
.bl_worriers_txtGroup {
  width: 70%;
  height: auto;
  position: relative;
}
.bl_worriers_txtGroup img {
  width: 100%;
}

.bl_worriers_txtGroup::before {
  content: url("../img/speechBubble_decoImg.svg");
  width: 28px;
  height: 28px;
  position: absolute;
  top: -10px;
  left: -3%;
}

.bl_worriers_txt {
  width: 60%;
  line-height: 145%;
  font-size: 4cqw;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.01em;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 53%;
}

.bl_worriers_txt__reverse {
  left: 47%;
}

@media screen and (min-width: 768px) {
  .bl_worriers_txt {
    font-size: 25px;
    top: 47%;
    left: 50%;
  }
  .bl_worriers_txtGroup {
    width: 100%;
  }
  .bl_worriers_txtGroup::before {
    content: url("../img/speechBubble_decoImg_pc.svg");
    width: 40px;
    height: 38px;
    position: absolute;
    top: -10px;
    left: -3%;
  }
}
@media screen and (min-width: 1080px) {
  .bl_worriers_txt {
    font-size: 20px;
  }
  .bl_worriers_txtGroup {
    width: 100%;
  }
  .bl_worriers_txtGroup::before {
    content: url("../img/speechBubble_decoImg_pc.svg");
    width: 40px;
    height: 38px;
    position: absolute;
    top: -10px;
    left: -3%;
  }
}
.bl_solutionGroup {
  max-width: 980px;
  margin: 88px auto 0 auto;
  display: grid;
  gap: 76px;
}

@media screen and (min-width: 768px) {
  .bl_solutionGroup {
    width: 70%;
  }
}
@media screen and (min-width: 1080px) {
  .bl_solutionGroup {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}
.bl_solution {
  padding: 45px 52px 35px;
  background: #fff;
  border: 1px solid rgba(75, 73, 72, 0.2);
  border-radius: 8px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .bl_solution {
    width: 100%;
  }
}
@media screen and (min-width: 1080px) {
  .bl_solution {
    width: 300px;
  }
}
.bl_solution_numberGroup {
  width: 56px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  position: absolute;
  top: -12px;
  left: 50%;
}
.bl_solution_numberGroup .bl_solution_number_lineGroup {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 15.8px;
}
.bl_solution_numberGroup .bl_solution_number_lineGroup .bl_solution_number_line2 {
  display: block;
  width: 2px;
  height: 13.4px;
  border-radius: 1px;
  background: #F69400;
}
.bl_solution_numberGroup .bl_solution_number_lineGroup .bl_solution_number_line,
.bl_solution_numberGroup .bl_solution_number_lineGroup .bl_solution_number_line3 {
  display: block;
  width: 2px;
  height: 7.5px;
  border-radius: 1px;
  background: #F69400;
}
.bl_solution_numberGroup .bl_solution_number_lineGroup .bl_solution_number_line {
  transform: rotate(-25deg);
}
.bl_solution_numberGroup .bl_solution_number_lineGroup .bl_solution_number_line3 {
  transform: rotate(25deg);
}
.bl_solution_numberGroup .bl_solution_number {
  margin-top: 9px;
  width: 100%;
  height: 56px;
  text-align: center;
  line-height: 56px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  font-family: "Lato";
  border-radius: 50%;
  background: #F69400;
}

.bl_solution_img {
  text-align: center;
  position: relative;
}

@media screen and (min-width: 1080px) {
  .bl_solution_img {
    height: 105px;
  }
  .bl_solution_img img {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
.bl_solution_txtGroup {
  margin-top: 18px;
}

.bl_solution_ttl {
  font-size: 24px;
  font-weight: 800;
  line-height: 150%;
  text-align: center;
}

.bl_solution_txt {
  margin-top: 2px;
  font-size: 16px;
  line-height: 175%;
  font-weight: 600;
  text-align: center;
}

.bl_cont_inner__service {
  width: 80%;
  max-width: 880px;
}

.bl_service {
  margin-top: 47px;
}

@media screen and (min-width: 1080px) {
  .bl_service_list {
    display: flex;
    align-items: flex-end;
    gap: 40px;
  }
}
.bl_service_ttl_number {
  font-size: 32px;
  font-weight: bold;
  color: #F69400;
  font-family: "Lato";
}

.bl_service_ttl_line {
  display: block;
  width: 2px;
  height: 40px;
  background: #EDECE4;
}

.bl_service_ttl {
  font-size: 20px;
  font-weight: bold;
  line-height: 150%;
}

@media screen and (min-width: 768px) {
  .bl_service_ttl {
    font-size: 28px;
  }
}
.bl_service_listItem + .bl_service_listItem {
  margin-top: 28px;
}

@media screen and (min-width: 1080px) {
  .bl_service_listItem {
    width: 50%;
  }
  .bl_service_listItem + .bl_service_listItem {
    margin-top: 0;
  }
}
.bl_service_listItem_img {
  width: 80%;
  display: block;
  margin: 46px auto 0 auto;
}
.bl_service_listItem_img img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .bl_service_listItem_img {
    width: 50%;
  }
}
.bl_service_listItem_txtGroup {
  margin-top: 18px;
}

.bl_service_listItem_ttl {
  font-size: 20px;
  line-height: 180%;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 12px;
}

.bl_service_listItem_ttl::before {
  content: "";
  width: 20px;
  height: 20px;
  background: transparent;
  border: 3px solid #F69400;
  border-radius: 50%;
}

.bl_service_listItem_txt {
  margin-top: 14px;
  font-size: 16px;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 0.64px;
}

.bl_service_listItem_line {
  margin-top: 28px;
  width: 100%;
  height: 1px;
  background: rgba(75, 73, 72, 0.2);
}

.bl_voiceGroup {
  margin-top: 52px;
  display: grid;
  gap: 42px;
}

@media screen and (min-width: 1080px) {
  .bl_voiceGroup {
    margin-top: 64px;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}
.bl_voice {
  padding: 25px;
  background: #fff;
  border-radius: 16px;
  border: 1px solid rgba(75, 73, 72, 0.2);
}

@media screen and (min-width: 768px) {
  .bl_voice {
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1080px) {
  .bl_voice {
    width: 100%;
  }
}
.bl_voice_label {
  width: 125px;
  margin: 0 auto;
  display: block;
  font-weight: 600;
  padding: 9px 25px;
  background: #FCFBF2;
  border-radius: 4px;
  border: 1px solid rgba(75, 73, 72, 0.2);
}

.bl_voice_ttlGroup {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.bl_voice_ttlGroup_img {
  width: 28%;
  max-width: 80px;
}
.bl_voice_ttlGroup_img img {
  width: 100%;
}
.bl_voice_ttlGroup_img .bl_voice_ttlGroup_img_status {
  margin-top: 13px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
}

.bl_voice_ttl {
  width: 72%;
  font-size: 20px;
  font-weight: 700;
  line-height: 160%;
}

.bl_voice_txt {
  margin-top: 20px;
  font-size: 16px;
  line-height: 175%;
}
.bl_voice_txt .bl_voice_txt_underLine {
  display: inline-block;
  text-decoration: underline;
  text-decoration-thickness: 7px;
  -webkit-text-decoration-color: rgba(255, 97, 97, 0.3);
          text-decoration-color: rgba(255, 97, 97, 0.3);
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  text-underline-offset: -3px;
}

.bl_flowGroup {
  margin-top: 79px;
}

@media screen and (min-width: 768px) {
  .bl_flowGroup {
    width: 70%;
    margin: 79px auto 0 auto;
  }
}
@media screen and (min-width: 1080px) {
  .bl_flowGroup {
    width: 100%;
    margin-top: 87px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
  }
}
.bl_flow {
  padding: 46px 22px 26px;
  border: 1px solid rgba(75, 73, 72, 0.2);
  border-radius: 8px;
  position: relative;
}

.bl_flow_numberGroup {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 0;
  left: 50%;
}

.bl_flow_number {
  width: 135px;
  display: inline-block;
  margin: 0 auto;
  padding: 12px;
  background: #F69400;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.bl_flow_number_line {
  display: block;
  width: 1px;
  height: 18px;
  background: #fff;
}

.bl_flow_img {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #FCFBF2;
  position: relative;
}
.bl_flow_img img {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.bl_flow_txtGroup {
  margin-top: 20px;
}

.bl_flow_ttl {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
}

.bl_flow_txtGroup_line {
  display: block;
  margin-top: 12px;
  width: 100%;
  height: 2px;
  background: rgba(75, 73, 72, 0.2);
}

.bl_flow_txt {
  margin-top: 12px;
  font-size: 16px;
  line-height: 150%;
}

.bl_flow_arrow {
  display: block;
  margin: 0 auto;
  width: 32px;
  height: 32px;
  border-bottom: 16px solid rgba(75, 73, 72, 0.6);
  border-left: 16px solid rgba(75, 73, 72, 0.6);
  border-top: 16px solid transparent;
  border-right: 16px solid transparent;
  transform: translateY(-20px) rotate(-45deg);
}

@media screen and (min-width: 1080px) {
  .bl_flow_arrow {
    border-bottom: 16px solid rgba(75, 73, 72, 0.6);
    border-right: 16px solid rgba(75, 73, 72, 0.6);
    border-top: 16px solid transparent;
    border-left: 16px solid transparent;
    transform: translateX(-10px) rotate(-45deg);
  }
}
.bl_flow + .bl_flow_arrow {
  margin-top: 16px;
}

.bl_flow_arrow + .bl_flow {
  margin-top: 39px;
}

@media screen and (min-width: 1080px) {
  .bl_flow + .bl_flow_arrow {
    margin-top: 0;
  }
  .bl_flow_arrow + .bl_flow {
    margin-top: 0;
  }
}
.bl_faqGroup {
  margin-top: 40px;
  display: grid;
  gap: 32px;
}

@media screen and (min-width: 1080px) {
  .bl_faqGroup {
    margin-top: 64px;
    display: block;
  }
}
.bl_faq {
  padding: 26px;
  border-radius: 8px;
  border: 1px solid rgba(75, 73, 72, 0.2);
  background: #fff;
}

@media screen and (min-width: 1080px) {
  .bl_faq {
    padding: 32px 24px;
    border-radius: 0;
  }
  .bl_faq:nth-child(1) {
    border-radius: 8px 8px 0 0;
  }
  .bl_faq:nth-child(3) {
    border-radius: 0 0 8px 8px;
  }
}
.bl_faq_question {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  display: flex;
  gap: 16px;
}

.bl_faq_question__1line {
  align-items: center;
}

.bl_faq_question::before {
  display: block;
  content: "Q";
  color: #4B4948;
  background: #EDECE4;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

@media screen and (min-width: 1080px) {
  .bl_faq_question {
    align-items: center;
  }
}
.bl_faq_answer {
  margin-top: 21px;
  width: 100%;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  gap: 16px;
}

.bl_faq_answer::before {
  display: block;
  content: "A";
  color: #fff;
  background: #F69400;
  text-align: center;
  font-weight: 700;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

@media screen and (min-width: 1080px) {
  .bl_faq_answer {
    align-items: center;
  }
}
.bl_president {
  margin-top: 17px;
}

@media screen and (min-width: 768px) {
  .bl_president {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1080px) {
  .bl_president {
    margin-top: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 76.5px;
  }
}
.bl_president_img {
  display: block;
  margin-top: 17px;
}
.bl_president_img img {
  width: 90%;
  box-shadow: 30px 25px #FEEED6;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .bl_president_img {
    margin: 0 auto;
    width: 50%;
  }
}
@media screen and (min-width: 1080px) {
  .bl_president_img {
    margin-top: 0;
    width: 30%;
  }
  .bl_president_img img {
    width: 100%;
  }
}
.bl_president_body {
  margin-top: 63px;
}

@media screen and (min-width: 1080px) {
  .bl_president_body {
    margin-top: 0;
    width: 70%;
  }
}
.bl_president_body_ttl {
  font-size: 24px;
  font-weight: 700;
  line-height: 185%;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  .bl_president_body_ttl {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (min-width: 1080px) {
  .bl_president_body_ttl {
    max-width: none;
    margin: 0;
    text-align: left;
  }
}
.bl_president_body_ttl_orange {
  font-size: 32px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0.04em;
  color: #F69400;
}

@media screen and (min-width: 1080px) {
  .bl_president_body_ttl_orange {
    font-size: 48px;
  }
}
.bl_president_body_txtWrapper {
  margin-top: 20px;
  padding: 32px 24px;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.08em;
  background: #FCFBF2;
  border-radius: 8px;
}

@media screen and (min-width: 1080px) {
  .bl_president_body_txtWrapper {
    padding: 34px 40px;
  }
}
.bl_companyInfo {
  width: 100%;
  margin-top: 32px;
}
.bl_companyInfo tr,
.bl_companyInfo th,
.bl_companyInfo td {
  display: block;
}
.bl_companyInfo tr {
  padding: 18px 12px;
  border-bottom: 1px solid rgba(75, 73, 72, 0.2);
}
.bl_companyInfo th {
  font-size: 16px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 0.03em;
  color: #F69400;
}
.bl_companyInfo td {
  margin-top: 13px;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 150%;
}

@media screen and (min-width: 1080px) {
  .bl_companyInfo {
    margin-top: 64px;
  }
  .bl_companyInfo tr {
    padding: 20px 12px;
    display: flex;
    gap: 65px;
    position: relative;
  }
  .bl_companyInfo tr::before {
    content: "";
    width: 15%;
    height: 1px;
    background: #F69400;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
  .bl_companyInfo th {
    line-height: 150%;
    width: 10%;
  }
  .bl_companyInfo td {
    margin-top: 0;
    width: 90%;
  }
}
@media screen and (min-width: 1080px) {
  .bl_cont_inner__access {
    margin-top: 64px;
    max-width: 1000px;
    display: flex;
    align-items: center;
    gap: 40px;
  }
}
.bl_access_map {
  margin-top: 40px;
}
.bl_access_map iframe {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1080px) {
  .bl_access_map {
    margin-top: 0;
    width: 50%;
    height: 400px;
  }
  .bl_access_map iframe {
    height: 100%;
  }
}
.bl_access_info {
  margin-top: 40px;
}
.bl_access_info dt {
  margin-top: 21px;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #4B4948;
}
.bl_access_info dd {
  margin-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 160%;
  border-bottom: 1px solid rgba(75, 73, 72, 0.2);
}

@media screen and (min-width: 1080px) {
  .bl_access_info {
    margin-top: 0;
    width: 50%;
  }
}
.bl_secChange {
  width: 100%;
  margin-top: -2px;
  text-align: center;
  position: absolute;
}
.bl_secChange img {
  width: 30%;
  text-align: center;
  max-width: 104px;
}

.un_fontColor_orange {
  color: #F69400;
}
/*# sourceMappingURL=styles.css.map */