$bg-orange: #F69400;
$bg-orange-opa30: rgba(246, 148, 0, 0.3);
$bg-light-orange: #FCFBF2;
$bg-green: #32C156;
$bg-grey: #EDECE4;
$bg-white: #fff;
$bg-black: #252624;
$border-grey: #4B4948;
$border-grey-opa60: rgba(75, 73, 72, 0.6);
$border-grey-opa20: rgba(75, 73, 72, 0.2);
$border-white: #fff;
$border-orange: #F69400;
$border-red: rgba(255, 97, 97, 0.3);
$border-black: #333;
$shadow-green: #03883A;
$shadow-orange: #B96F00;
$shadow-orange2: #FEEED6;
$font-color-base: #333;
$font-color-white: #fff;
$font-color-grey: #4B4948;
$font-color-orange: #F69400;
$font-family-jp: "Zen Kaku Gothic New";
$font-family-en: "Lato";